 .input-container {
    margin-bottom: 10px; 
  }
  
  .miInput {
    width: 100%;         
    padding: 8px;        
    border: 1px solid #ccc;
    border-radius: 4px;  
    box-sizing: border-box;
  }

  .link-container {
    display: block;
    margin-top: 10px; 
  }

  .sectionForm{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 2px solid;
    border-radius: 10px;
    padding: 2%;
  }

  .boton01{
    width: 100%;
  }

  .footer {
    padding: 20px;
    justify-content: center;
  }


  .header {
    width: 100%;
    color: #fff;
    padding: 10px 20px;
    text-align: right;
  }
  
  .menu {
    display: flex;
    justify-content: space-around;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .menu a:hover {
    color: blue;  
  }

